
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  color: #fff;
  overflow-x: hidden;
}
p{
  font-size: 15px;
  line-height: 1.8em;
}
ul li{
  list-style-type: none;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0 0 20px;
  text-transform: none !important;
  font-weight: 700;
  letter-spacing: 1px;

}
a{
  text-decoration: none !important;
}
button.btn {
    margin-top: 40px;
    background: #d49f0b;
    border-radius: 20px;
    color: #fff;
    margin-bottom: 30px;
}
section{
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
section:nth-child(1) {
  background: url("../images/studio/banner.jpg")no-repeat center center;
  background-size: cover;
}
section:nth-child(2), section:nth-child(4) {
  background-color: #fff;
}
section:nth-child(3) {
  background-color: #a5d6a7;
}
.nopadding{
  margin:0 !important;
  padding:0 !important;
}
.fourth button {
  margin-top: 20px;
}


#fp-nav ul li a span {
  background: #fff;
}
.navbar-header{
  background: #fff;
}
.navbar-custom {
  margin-bottom: 0;
 /* border-bottom: 1px solid rgba(255, 255, 255, 0.3);*/
  text-transform: uppercase;
 /* background-color: #fff;*/
 /* border-bottom: 1px solid #d49f0b;*/
}
.navbar-custom .navbar-toggle {
  color: #d49f0b;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: #333;
}
.navbar-header i{
  font-size: 20px;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  font-size: 15px;
  font-weight: 400 !important;
  /*color: #fff;*/
  padding: 10px 10px;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    color: #ffdc33;
    background-color: transparent;
}

.navbar-custom .nav li a:hover {
  color: #d49f0b;
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a:hover {
  color: white;
}
.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body .brand-heading {
  font-size: 40px;
}
.intro .intro-body .intro-text {
  font-size: 18px;
}

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }

  .intro .intro-body .brand-heading {
    font-size: 100px;
  }
  .intro .intro-body .intro-text {
    font-size: 26px;
  }
  .navbar-custom {
    border-bottom: none;
    letter-spacing: 1px;
    /*background: #fff;
    border-bottom: 1px solid #d49f0b;*/
    height: 60px;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .content-section {
    padding-top: 250px;
  }
  .download-section {
    padding: 100px 0;
  }
  #map {
    height: 400px;
    margin-top: 250px;
  }

}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}
.menu-fix li{
  padding: 0px 5px 0 5px;
}
.menu-fix li a{
  color: #fff;
}
.container>.navbar-collapse{
  width: 100%;
  text-align: center;
}
.nav.navbar-nav{
  display: inline-block;
  margin-bottom: -5px;
}
.navbar-nav{
  float: none;
}
.navbar>.container .navbar-brand{
  margin-left: 0; 
}
.navbar-brand-SP img{
  margin-top: 8px;
  margin-left: 20px;
}
/* Header */
.large-header {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}
.circle-animation .main-title::before {
  content: '';
  width: 20vw;
  height: 20vw;
  min-width: 3.5em;
  min-height: 3.5em;
  background: url(../img/deco.svg) no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  z-index: -1;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
}

.main-title .thin {
  font-weight: 200;
}

@media only screen and (max-width : 768px) {
  /*.navbar-header{
    border-bottom: 1px solid #ddd;
  }*/
  .nav.navbar-nav{
    padding-top: 0;
  }
  .navbar-collapse li{
    border-bottom: 1px solid #ddd;
    background: #fff;
  }
  .navbar-collapse li a{
    color: #333;
  }
  .navbar-collapse li:last-child{
    border-bottom: 0;
  }
  .circle-animation .main-title {
    font-size: 4em;
  }
  .nav.navbar-nav {
    width: 100%;
  }
  .section-text {
    position: relative !important;
    width: 90% !important;
    padding-top: 70px !important;
  }
  /*.section-text p{
    text-align: justify !important;
  }*/
  .section h2:after{
    top: 90%;
    bottom: 0;
    right: 0;
    left: 21%;
    height: 100px;
  }
}
@media only screen and (max-width : 678px) {

  .nav.navbar-nav {
    width: 100%;
  }
  .triangle-down{
    height: 100% !important;
    background-color: #fff !important;
    border-left: 0 !important; 
    border-right: 0 !important; 
    border-top: 0 !important; 
  }
}

.nav.navbar-nav{
  position: relative;
}
#large-header{
  position: relative;
  margin: 0 auto;
}
.logo{
  padding-top: 25px;
}
.logo-color{
  margin-top: 10px;
}
.circle-animation .title-banner{
  position: absolute;
  top: 25%;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}    
.circle-animation .title-banner h1{
  font-size: 60px;
 
  text-transform: none;

}
.circle-animation .title-banner h3{
  
  text-transform: none;
}
.third h4{
  font-size: 26px;
  
  text-transform: none;
  margin-top: 30px;
  color: #333;
  font-weight: 300;
}
.fix-color a{
  color: #333 !important;
}
.second{
  background:url("../images/studio/bg-second.png") no-repeat center center;
  background-size: cover;

}
.section h2{
  color: #d49f0b;
  text-transform: none;
  padding-bottom: 40px;
  position: relative;
  font-weight: normal;
  font-size: 30px;
}
.section h2:after{
  content: "";
    background: url(../images/bg-title.png)no-repeat;
    position: absolute;
    top: 45px;
    right: 0;
    left: 42%;
    height: 100px;
}
.section-text{
    color: #333;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    height: 100%;
    text-align: center;
    z-index: 99;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-top: 10%;
}
/*.section-text.ser{
   width: 70%;
}*/
.fix-color:before {
    border-right: 1px solid #d49f0b;
    border-bottom: 1px solid #d49f0b;
}
.btn-lg {
    padding: 6px 18px;
    font-size: 15px;
    border-radius: 30px !important;
  }
  .third{
    background:url("../images/studio/bg-third.jpg") no-repeat center center;
  background-size: cover;
  }
  .third img{
    border-radius: 50%;
    box-shadow: 14px 12px 0 rgba(0, 0, 0, 0.09);
  }
  .third i:before{
    font-size: 40px;
    color: #fff;
    line-height: 84px;
  }
  .fourth{
    background:url("../images/studio/bg-fourth.jpg") no-repeat center center;
    background-size: cover;
  }
  .triangle-down {
    height: 0;
    border-left: 550px solid transparent;
    border-right: 550px solid transparent;
    border-top: 1100px solid #fff;
    z-index: 2;
}
.fadeInUpShort.go {
    -webkit-animation-name: fadeInUpShort;
    animation-name: fadeInUpShort;
}
.fadeInUpShort {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
}
.delay-500 {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.team-item {
    height: 120px;
}
.img-ser{
  position: relative;
}
.item-ser {
  position: relative;

}
.section-text-ser{
  text-align: center;
  /*padding-top: 200px;*/
}
.item-ser .icon-ser{
    position: absolute;
    top: 65%;
    right: 0;
    left: 0;
    bottom: 0;
    background: #d49f0b;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid #fff;
    text-align: center;
}
.five{
  background:url("../images/studio/bg-five.jpg") no-repeat center center;
  background-size: cover;
}
.circle-img{
  text-align: center;
  position: absolute;
  top: 27%;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
/*=================FOOTER===============*/
.footer{
  background:url("../images/studio/bg-footer.jpg") no-repeat center center;
  background-size: cover;
}
.footer .footer-content{
  padding-top: 40px;
  background-color: rgba(255, 255, 255, 0.78);
  padding: 50px;
  border-radius: 4px;
}
.footer .footer-content ul{
  display: inline-block;
}
.footer .footer-content ul li{
  float: left;
  padding-bottom: 20px;
}
.footer .footer-content i:before{
  font-size: 30px;
  color: #d49f0b;
  margin-left: 10px;
  margin-right: 10px;
}
.bride-groom{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 0;
}
.footer-social li{
  float: left;
}
footer{
  background: rgba(212, 159, 11, 0.84);
  /*height: 50px;*/
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  text-align: center;
}
footer .icon-top{
  position: fixed;
  bottom: 60px;
  z-index: 999999;
  left: 0;
  right: 0;
  margin: auto;
  padding-bottom: 15px;
}
footer .icon-top a{
    display: inline;
    color: #fff;
    margin: 0 15px;
    padding: 14px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: rgba(212, 159, 11, 0.68);
}
footer .copy-right{
  background: #fff;
  height: 40px;
  color: #999;
}
footer .copy-right p{
  font-size: 13px;
  padding-top: 8px;
}
footer .footer-SP a{
  display: inline-block;
  padding: 10px 35px;
  color: #fff;
}
.pulse2 {
    -webkit-animation-name: pulse2;
    animation-name: pulse2;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    color: #f42051;
    font-size: 50px;
    padding-top: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    text-align: center;
}
@keyframes pulse2{
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
  }
  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}
/*==========BACK TO TOP===============*/

#back-to-top {
    position: fixed;
    bottom: 2px;
    right: 92px;
    z-index: 9999;
    cursor: pointer;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top i:hover {
    color: #ffdc33
}
#back-to-top.show {
    opacity: 1;
}
#back-to-top i{
  color: #fff;
}
#back-to-top i:before{
  font-size: 28px;
}
/*===========CALL EFFECT=============*/
.hotline{
  position: fixed;
  right: 20px;
  bottom: 80px;
  z-index: 999;
}
.phone-contact{
    border: 2px solid #fff;
    padding: 0px 10px;
    border-radius: 20px;
}
.pulse-button {
  display: block;
  width: 60px;
  height: 60px;
  margin-left: 58px;
  text-align: center;
  line-height: 61px;
  color: white;
  border-radius: 50%;
  background: #fabf1d;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
 -webkit-animation: pulse 1.5s infinite;
}
.pulse-button:hover {
  -webkit-animation: none;
}
/*=============TEXT EFFECT=============*/
span {
  color: transparent;
    animation: blur 10s ease-out infinite;
    -webkit-animation: blur 10s ease-out infinite;
    font-size: 32px;
    font-family: 'Pacifico', cursive;
    font-weight: 200;
}

span:nth-child(1) {
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}
span:nth-child(2) {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
span:nth-child(3) {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}
span:nth-child(4) {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}
span:nth-child(5) {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
span:nth-child(6) {
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}
span:nth-child(7) {
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
}

@keyframes blur {
  0%    {text-shadow:  0 0 100px #fff; opacity:0;}
  5%    {text-shadow:  0 0 90px #fff;}
  15%   {opacity: 1;}
  20%   {text-shadow:  0 0 0px #fff;}
  80%   {text-shadow:  0 0 0px #fff;}
  85%   {opacity: 1;}
  95%   {text-shadow:  0 0 90px #fff;}
  100%  {text-shadow:  0 0 100px #fff; opacity:0;}
}

@-webkit-keyframes blur {
  0%    {text-shadow:  0 0 100px #fff; opacity:0;}
  5%    {text-shadow:  0 0 90px #fff;}
  15%   {opacity: 1;}
  20%   {text-shadow:  0 0 0px #fff;}
  80%   {text-shadow:  0 0 0px #fff;}
  85%   {opacity: 1;}
  95%   {text-shadow:  0 0 90px #fff;}
  100%  {text-shadow:  0 0 100px #fff; opacity:0;}
}

/*SOCIAL EFFECT*/

@media only screen and (min-width: 1024px){
  .triangle-down {
    border-left: 450px solid transparent;
    border-right: 450px solid transparent;
  }
  
}
@media only screen and (max-width: 1024px) and (min-width: 980px){
  .triangle-down {
    border-left: 345px solid transparent;
    border-right: 345px solid transparent;
  }
  .navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
  }
}
@media only screen and (max-width : 979px){
  .triangle-down {
    border-left: 0;
    border-right: 0; 
  }
}
@media only screen and (max-width : 480px){
  .section-text-ser {
    text-align: center;
    padding-top: 70px;
  }
}